<html>
    <body>
        <form action="/proverbios/salva" method="post">

            <div>
                <label for="quote">Titulo</label>
                <input type="text" id="quote" name="quote" placeholder="Digite um provérbio"/>
            </div>
            <div>
                <label for="author">Autor</label>
                <input type="text" id="author" name="author" placeholder="Digite o autor..."/>
            </div>
            <div>
                <label for="lang">Idioma</label>
                <input type="text" id="lang" name="lang" placeholder="Idioma"/>
            </div>

            <input type="submit" value="gravar"/>
        </form>
    </body>
</html>
