<html>
    <body>
        <form action="/proverbios/insert" method="post">

            <div>
                <!-- <label for="content">Titulo</label> -->
                Proverbio: <br>
                <input type="text" id="content" name="content" placeholder="Digite um provérbio"/>
                <br>
            </div>
            <div>
                <label for="author">Autor</label>
                <input type="text" id="author" name="author" placeholder="Digite o autor..."/>
            </div>
            <div>
                <label for="lang">Idioma</label>
                <input type="text" id="lang" name="lang" placeholder="Idioma"/>
            </div>

                <br>
                <br>
            <input type="submit" value="gravar"/>
        </form>
    </body>
</html>
