<html>
    <head>
        <title>Provérbios </title><meta charset="utf-8">
        <meta charset="utf-8">
        <!-- Latest compiled and minified CSS --> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library --> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript --> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://s3.amazonaws.com/ohrs-aws/css/site.css">
        <style>
            body {
                color: rgb(15, 15, 15);
                background-color:rgb(250, 250, 250);
            }   
            h1 {
                font-family:Sans-serif;
                background-color:#cc0066;
                color:white;
            }   
            img { 
                display: block;
                margin-left: auto;
                margin-right: auto;
                width:25%; 
            }   
            .line-info{
                color: #696979;
                font-size:115%;
            }   
        </style>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="https://s3.amazonaws.com/ohrs-aws/index.html">Home</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="http://aws-alb-lab-942269274.us-east-1.elb.amazonaws.com:4000"> Dev </a></li>
              <li><a href="http://aws-alb-lab-942269274.us-east-1.elb.amazonaws.com:4001"> Prod </a></li>
            </ul>
            <p class="navbar-text" style="font-family:Sans-serif;color:#4499ff"> Provérbios </p>
            <p class="navbar-text" style="font-family:Sans-serif;float:right"> Horário UTC:  <span style="color:#ffffff"> <%= Date() %> </span></p>
          </div>
        </nav>

        <h1> Cadastro </h1>
        <form action="/proverbios/insert" method="post">

            <div>
                <!-- <label for="content">Titulo</label> -->
                Proverbio: <br>
                <input type="text" id="content" name="content" placeholder="Digite um provérbio"/>
                <br>
                <br>
            </div>
            <div>
                Autor: <br>
                <input type="text" id="author" name="author" placeholder="Digite o autor..."/>
                <br>
                <br>
            </div>
            <div>
                Idioma: <br>
                <input type="text" id="lang" name="lang" placeholder="Idioma"/>
            </div>
            <br>
            <br>
            <input type="submit" value="gravar"/>
        </form>
    <footer class="rodape-pagina">
        <p><img src="https://s3.amazonaws.com/ohrs-aws/static/wip.png" alt="Em construção" style="float:right;width:42px;height:42px;">
                &copy; Orlando Hehl Rebelo dos Santos 2018 <a href="mailto:orlando.hrsantos@gmail.com@example.com">email:orlando.hrsantos@gmail.com cel:+55(11) 99177-4639</a>
    </p>
    </footer>
    </body>
</html>
